[submodule "core"]
	path = .skogai
	url = git@github.com:skogai/core.git
    branch = master
[submodule "tests/test_helper/bats-assert"]
	path = tests/test_helper/bats-assert
	url = https://github.com/ztombol/bats-assert
    branch = master
[submodule "tests/test_helper/bats-file"]
	path = tests/test_helper/bats-file
	url = https://github.com/ztombol/bats-file
    branch = master
[submodule "tests/test_helper/bats-support"]
	path = tests/test_helper/bats-support
	url = https://github.com/ztombol/bats-support
    branch = master
[submodule "plugins/skogai-core/skills/skogai-atomic"]
	path = plugins/skogai-core/skills/skogai-atomic
	url = git@github.com:skogai/skogai-atomic.git
    branch = master
